.home{
    margin-top: 80px;
   
}
.card{
    margin:5px;
}
.areaPost{
    background-color: rgba(200, 200, 200);
}
.heroSection{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgba(200, 200, 200);
}
.btnHero{
    margin: 3px;
    padding: 20px;
    transition: transform .2s;
    box-shadow:  5px 5px #1F1D20;
    border: 2px solid #1F1D20;
    
}
.btnHero:hover{
    transform: scale(.9);
    box-shadow:  3px 3px #1F1D20;
    border: 2px solid #1F1D20;
}

.btnpr{
    transition: transform .2s;
    margin: 3px;
    padding: 20px;
    background-color:	#f1f0f0;
    border: 2px solid #1F1D20;
}
.btnpr:hover{
    transform: scale(.9);
    border: 2px solid #1F1D20;
    background-color:	#f1f0f0;
}
.homeCard{
    
    transition: transform .2s, box-shadow .2s;
    padding: 0;
    margin: 0px;
    box-shadow:  7px 7px #1F1D20;
    background-color: #f1f0f0;
    border: 3px solid #1F1D20;
    
}

.homeCard:hover {
   
    transform: scale(1.1);
    box-shadow:  3px 3px #1F1D20;
    border: 2px solid #1F1D20;

}
.highlights{
    font-size: x-large;
}

