.formCard {
    margin: auto;
    background-color: #f1f0f0;
    border: 3px solid #1F1D20;
    box-shadow: 10px 10px #1F1D20;
}
.formOuter{
 
  height: 100vh;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
}
.postbtn{
    width: 30%;
    transition: transform .05s;
    margin-top:20px;
    margin-bottom: 0px;
    
}

.postbtn:hover{
    transform: scale(1.03);
    background-color:#29335c;
    border: 1px solid #29335c;
    font-weight: bold;
    color: #ffc107;
}

.addImage{
   width: 10%;
   height: 100%;
   margin-left: 60%;  
   padding: 5px;
   border: 2px solid black;
   font-weight: bold;
}

.btns{
    margin-top: 40px;
    margin-bottom: 15px;
}